*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    /*overflow: hidden;*/
    font-size: .5rem;
}

.container{

}
